$font-stack: Helvetica, sans-serif;
$light-grey: #eee;
$dark-grey: #ddd;

body {
    margin: 0px;
    font: 14px $font-stack;
}

.row {
    div {
		background-color: $light-grey;
		border: 1px solid $dark-grey;
		border-radius: 3px;
    }
}

.carousel{
	max-height: 100%;
}
